<form action='/user/login' method='post'>
  <input type="email" name="username" placeholder="Insira seu usuário">
  <input type="password" name="password" placeholder="Insira sua senha"><br>
  <input type="submit" name="login">
<form>
<br>
<a href="/user/register-form">Não sou usuário</a>