<form action="/user/register" method="post">
  <input name="name" type="text" placeholder="Digite seu nome">
  <input name="email" type="email" placeholder="Digite seu email">
  <input name="password" type="password" placeholder="Digite sua senha">
  <input type="submit" value="cadastrar">
<form>

<br>

<a href="/">Voltar</a>