<h1>Formulário de login</h1>

<form action="/user/login" method="post">
    <input type="text" name="username" placeholder="Digite seu e-mail"> <br>
    <input type="password" name="password" placeholder="Digite sua senha"> <br>
    <input type="submit" value="Login">
</form>