<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Vamos testar seus conhecimentos...</h1>
    <form action="/response" method="POST">
        <fieldset>
            <legend>Qual é a melhor dupla de professores de programação?</legend>

            <input type="radio" name="resposta" value="jeferson-thiago" checked>
            <label>Jeferson e Thiago</label>
            <br>

            <input type="radio" name="resposta" value="patati-patata">
            <label>Patati e Patatá</label>
            <br>

            <input type="radio" name="resposta" value="rosa-rosinha">
            <label>Rosa e Rosinha</label>
            <br>

            <button type="submit">Responder</button>
        </fieldset>
    </form>   
</body>
</html>