* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grupo__botoes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
}

.grupo__botoes button {
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  border: none;
  background-color: #9b2226;
  color: #ffffff;
  border-radius: 0.4rem;
}

.grupo__botoes button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.area__imagens {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.img__personagem {
  width: 16rem;
}
